openapi: 3.2.0
info:
  title: FullContact V3 Permission API
  version: v3
  description: 'Best-effort OpenAPI 3.1 description of the FullContact V3 REST API for

    person/company enrichment, identity resolution, permissions, tags, and

    audience download. Generated from public documentation; not an official spec.'
  contact:
    name: FullContact Developer Portal
    url: https://docs.fullcontact.com
servers:
- url: https://api.fullcontact.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Permission
paths:
  /v3/permission.create:
    post:
      tags:
      - Permission
      operationId: createPermission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      summary: Create permission
      x-summary-source: derived
  /v3/permission.delete:
    post:
      tags:
      - Permission
      operationId: deletePermission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      summary: Delete permission
      x-summary-source: derived
  /v3/permission.find:
    post:
      tags:
      - Permission
      operationId: findPermission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      summary: Find permission
      x-summary-source: derived
  /v3/permission.current:
    post:
      tags:
      - Permission
      operationId: currentPermission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      summary: Current permission
      x-summary-source: derived
  /v3/permission.verify:
    post:
      tags:
      - Permission
      operationId: verifyPermission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      summary: Verify permission
      x-summary-source: derived
components:
  schemas:
    Object:
      type: object
      additionalProperties: true
  responses:
    Ok:
      description: Successful response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Object'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: FullContact API key passed as a Bearer token in the Authorization header.
